body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.img-section{
   background-image: url(img/peace.jpg); 
   width: 100%;
   height: 900px;
   background-size: cover;
   position: relative;
}
.text{
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    background-color: white;
    font-size: 15vw;
    width: 65%;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    mix-blend-mode: screen;
}