body{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
input{
    font-size: 2rem;
    padding: 18px 35px;
    background: transparent;
    border: 2px solid #0ce10c;
    border-radius: 10px;
    color: #fff;
}
::placeholder{
    color: #0ce10c;
    font-size: 1.7rem;
}