*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000b76;
}
.text{
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
}
button{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    margin-top: 50px;
}