body{
    width: 50%;
    margin: 0 auto;
    font-family: sans-serif;
}
h1{
    font-size: 2.3rem;
}
p{
    font-size: 1.14rem;
    line-height: 25px;
    text-align: justify;
}
::-webkit-scrollbar{
    width: 18px;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(transparent,#08c6bf, #094fc7) ;
    border-radius: 20px;
}