.codepen-button{
  display: block;
  color: #fff;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: fit-content;
  border-radius: 7px;
  padding: 4px;
  cursor: pointer;
}

.codepen-button::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  background: linear-gradient(115deg, #4fcf70, #fad648, 
  #a767e5, #12bcfe, #44ce7b);
  background-size: 25% 100%;
  animation: move .7s linear infinite;
  animation-play-state: paused;
  translate: -5% 0%;
  transition: translate 0.25s ease-out;
}
.codepen-button:hover::before{
  animation-play-state: running;
  transition-duration: .75s;
  translate: 0% 0%;
}

@keyframes move {
  to{
    transform:translateX(-25%);
  }
}

.codepen-button span{
  position: relative;
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  background: #000;
  border-radius: 5px;
  height: 100%;
}