@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #222;
    -webkit-font-smoothing:antialiased;
}
.shine-text h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(to right,
    #4d4d4d 0, white 10%, #4d4d4d 20%);
    background-position: 0;
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    animation: move 2s infinite linear;
    animation-fill-mode: forwards;
}

@keyframes move {
    0%{
        background-position: 0;
    }
    50%{
        background-position: 180px;
    }
    100%{
        background-position: 400px;
    }
}