body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.load{
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.load span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 3px solid #111;
    pointer-events: none;
    animation: animate 3s linear infinite;
}
.load span:nth-child(1){
    border-radius: 20% 80% 30% 70% / 30% 30% 70% 70% ;
}
.load span:nth-child(2){
    animation-direction: reverse;
    border-radius: 73% 27% 60% 40% / 30% 50% 70% 70% ;
}
.load span:nth-child(3){
    animation-duration: 2s;
    border-radius: 52% 48% 40% 70% / 76% 61% 39% 24%;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.load h2{
    font-family: monospace;
    font-weight: 500px;
    font-size: 1.4rem;
}
