*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html,
body{
    height: 110vh;
}
body{
    background: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 400px;
    height: 80px;
    cursor: pointer;
    background: linear-gradient(135deg,
    rgba(255,255,255,0.1),
    rgba(255,255,255,0.1));
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.36);
/*     border: 1px solid #f38367; */
    border-radius: 20px;
    padding: 50px;
}
.card :where(h2, p){
    color: #fff;
    text-align-last: center;
    margin-top: 5px;
}
.card h2{
    font-size: 28px;
}
.card p{
    font-size: 16px;
    color: #d1d1d1;
}