body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ffffff;
}
.container{
    min-height: 100vh;
}
.container img{
    width: 100%;
    height: auto;
}
@media (max-width:680px){
    .container img{
        height: 60vh;
        object-fit: cover;
    }
}
/* These were 3 ways to make an image responsive in css. */