*{
    margin: 0;
    padding: 0;
}
body{
    background: #262727;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content{
    border: 2px solid #fff;
    width: 700px;
    height: 300px;
    display: flex;
    align-items: center;
    padding: 30px;
    position: relative;
    overflow: hidden;
}
.left{
    background: #3f3f3f;
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.right{
    margin-left: 4rem;
}
.head{
    background: #3f3f3f;
    width: 330px;
    height: 30px;
    margin-bottom: 20px;
}
.lines{
    background: #3f3f3f;
    width: 250px;
    height: 12px;
    margin-top: 8px;
    position: relative;
    overflow: hidden;
}
.skeleton::after{
    content: '';
    position: absolute;
    width: 60px;
    height: 300px;
    z-index: 1;
    background: #4f4f4f;
    animation: animate .6s linear infinite;
    transform: translateX(-150px) skew(30deg);
}
@keyframes animate {
    0%{
        transform: translateX(-150px) skew(30deg);
    }
    50%{
        transform: translateX(300px) skew(30deg);
    }
    100%{
        transform: translateX(800px) skew(30deg);
    }
}
