body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    padding: 20px;
}
button{
    padding: 8px 13px;
    color: white;
    background: black;
    font-size: 1.2rem;
    cursor: pointer;
}
p{
    font-size: 1.4rem;
}