body{
    margin: 0;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 10rem;
    letter-spacing: 12px;
    background: -webkit-linear-gradient( #08b6fb, #0548e4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}